.DS_Store
*.DS_Store
*/.DS_Store
.vagrant
weedout/*.rbc
weedout/*.sassc
weedout/.sass-cache
weedout/capybara-*.html
weedout/.rspec
weedout/.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
weedout/**.orig
weedout/rerun.txt
weedout/pickle-email-*.html
weedout/.project
weedout/config/initializers/secret_token.rb
