<h1>(Professor(<%= @user.isprofessor =%>) in: <%= @user.uni =%>) Listing courses</h1>
 
<table>
  <tr>
    <th>Course Title</th>
    <th>Time</th>
    <th>Day</th>
  </tr>
 
  <% @courses.each do |course| %>
    <tr>
      <td><%= link_to course.course_title, controller: "/test", action: "new", course_id: course.id %></td>
    </tr>
  <% end %>
</table>

<% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
<% end %>
