<h1> Welcome to WeedOut! </h1>
<p> To create a new account, <%= link_to "Sign up!", new_user_registration_path %> </p>
<% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
<% end %>
