<h1>Added Student to Course</h1>
 
<!-- http://guides.rubyonrails.org/getting_started.html -->
 
<%= link_to 'Back', courses_path %>
<% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
<% end %>